<!DOCTYPE html>
<html>
<head>
	<title>Search articles</title>
</head>
<body>

<section>
<div>
{% for flash_message in app.session.flashBag.get('success') %}
    <div class="flash-success">
        {{ flash_message }}
    </div>
{% endfor %}
</div>
{{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
	{{ form_errors(form) }}
	
    {{ form_widget(form) }}
    <button type="submit">send</button>
{{ form_end(form) }}
</section>

</body>
</html>